body, header, h1, h2, h3, footer, section, article, nav, ul, ol, table, div, p, span
{
	padding: 0px;
	margin: 0px;
}
#wrapper1
{
	
}


body {
	color: #4d4d4d;
	/*background: #f9f9f9;*/
	background-image: url("../images/general/18.jpg");
}

body.middle {
	/*margin-left: 5%;*/
	padding-left: 5%;
}


/* 
------- Header section--------
 */
.inactive
{
	color: #ccc;
} 
.currentPage
{
	/*color: #7e0e26;*/
	font-size: 1.2em;
}

header
{
	height: 192px;
	text-align: center;
	position: relative;
}
#headerWrapper
{
	margin: auto;
	width: 100%;
}
#logo
{
	/*height: 130px;
	background-image: url("../images/alumni.png");
	background-repeat: no-repeat;
	margin-bottom: 0px;*/
}

nav#menu li
{
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin-top: 12px;
}
ul>li>a
{
	text-decoration: none;
	padding-right: 25px;
	background-color: #f0f0f0 !important;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 23px;
	/*border: 0px solid #7e0e26;*/
	border-radius: 0px;
	font-size: 1.2em;
	color:#017391 !important;
	font-weight: bold;

}
nav#menu>ul>li:hover>a
{
	color: #017391 !important;
}
nav#menu, nav#menu>ul {
	height: 65px;
	margin-left: 0px;
	margin-bottom: 20px;
	background-color: #7b8490 !important;
}
nav#menu>ul>li>a:hover
{
	height: 65px;
	margin-left: 0px;
	margin-bottom: 20px;
	/*background-color: #7b8490 !important;*/
}
#menu .subMenu
{
	background-color: #035151 !important;
	top: 45px;
	position: absolute;
	width: 100%;
	display: none;
}
#menu .subMenu li 
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#menu .subMenu a
{
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.1em;
	color: #fff;
	font-weight: bold;
	background-color: #035151;
	position: relative;
	display: block;
	
}

#menu .subMenu li:hover a
{
	/*color: #7e0e26;*/
}

div#search_container {

}
aside
{
	width: 19.5%;
	position: absolute;
	color: #000;
	top: 0;
	left: 75.5%;
	display: inline-block;
}
#login
{
	position: relative;
	text-align: right;
}
#login input[type="submit"] {
	background-color: #7b8490;
	border: 0;
	color: #fff;
	padding: 1px;
	cursor: pointer;
	float: left;
	width: 50px;
	margin-left: 8%;
	margin-top: 1px;
}
#login input[type="text"], #login input[type="password"] {
	background-color: #fff;
	padding: 0px;
	cursor: pointer;
	border: 2px solid #7b8490;
	color: #5A0013;
	margin-bottom: 0px;
	width: 140px;
	margin-left: 2px;
}
.header_a {
	background-color: #7b8490;
	border: 0;
	color: #fff;
	padding: 1px;
	cursor: pointer;
	float: left;
	width: 88px;
	margin-top: 1px;
	text-align: center;
	text-decoration: none;
}

.header_a:hover {
	background-color: #7b8490;
	border: 0;
	color: #fff;
	padding: 1px;
	cursor: pointer;
	float: left;
	width: 88px;
	margin-top: 1px;
	text-align: center;
	text-decoration: none;
}
 /* 
------- End Header section--------
 */





.hidden
{
	display: none;
}
#users
{
	margin:auto;
}
#users, #users td
{
	border: 2px solid black;
	width: 700px;
	background-color: rgba(205, 205, 205, 0.90);;
	color: #fff;
	border-color: #fff;
}
#users td, #users th
{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#content
{
	padding: 15px;
	border: 0px solid black;
	margin: auto;
	background-color: #f9f9f9;
	min-height: 522px;
	margin-bottom: 20px;
}
.hidden
{
	display: none;
}
#pages
{
	text-align: center;
	width: 450px;
	margin: auto;
	display: none;
}
.buttons
{
	padding: 5px;
	cursor: pointer;
	font-size: 1.2em;
	color: #008;
}

.category_name1{
	background-color: #000;
	color: #0B96D0;
	opacity: 0.7;
	position: absolute;
	font-weight: bold;
	top: 310px;
	margin-left: -148px;
	padding: 5px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 137px;
	font-weight: bold;
}
.category_name2{
	background-color: #000;
	color: #0B96D0;
	opacity: 0.7;
	position: absolute;
	font-weight: bold;
	top: 520px;
	margin-left: -150px;
	padding: 5px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 137px;
	font-weight: bold;
}

input#userName-input {
	font-size: 28px;
	text-align: center;
}

#search-button{
	background-image: url("../images/search-icon.png");
	width: 20px;
	height:20px;
	margin-top: 1px;
}

/* 
------- Paging section--------
 */
.inactive
{
	opacity: 0.7;
	filter:alpha(opacity=70);
	cursor:auto !important;
} 
.currentPage
{
	color: #777 !important;
	font-size: 2em;
	cursor:auto !important;
}
.page
{
	font-size: 2em;
	color: #000;
}
#previous
{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/pageLeft.png");
	cursor: pointer;
}
#next
{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/pageRight.png");
	cursor: pointer;
}
 
 
 /* 
------- Paging section--------
 */
 
 
 /* 
------- Registration section--------
 */
 #registrationForm
 {
	color: #017391 !important;
	height: 610px;
 }
  #registrationForm input[type="text"], 
  #registrationForm input[type="password"], 
  #registrationForm input[type="date"],
  #registrationForm textarea
  {
	padding: 5px;
	border-radius: 5px;
	color:black;
 }

 #registrationForm textarea {
 	width: 95%;
 }

 #registrationForm input[type="date"] {
 	height: 32px;
 }
 #registrationForm label
 {
	display:block;
 }
 div.labelAndInput
 {
	display: inline-block;
	width: 200px;
	margin-left: 150px;
 }
 #registrationForm>form
 {
	text-align: left;
 }
 
 /* 
------- Registration section--------
 */
 
 
 
 /* 
------- Contacts section--------
 */
 #errorloc
 {
	/*color: #7e0e26;*/
 }
 
 /* 
------- End Contacts section--------
 */
#request_holder{
	width: 185px;
	/*background-color: #7e0e26;*/
	opacity: 0.7;
}
#request_holder:hover{
	opacity: 1;
}

 /* 
------- Games section--------
 */
 #contentGame
 {
	padding: 15px;
	width: 1000px;
	margin: auto;
	background-color: #fff;
	text-align: center;
	/*background-image: url("../images/Game_background.png");*/
 }
  #contentGame>h1
  {
	/*color: #7e0e26;*/
	padding-top: 20px;
	margin-bottom: 20px;
 }
 /* 
------- End Games section--------
 */
 
 
  /* 
------- Test section--------
 */
.test_category
{
	display: inline-block;
	cursor: pointer;
	width: 300px;
	height: 200px;
	margin-top: 5px;
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px;
}
.test_category:hover {
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
}
.category_img 
{
	width: 300px;
	height: 200px;
}
.category_name
{
	padding-top: 78px;
	padding-bottom: 78px;
	display: block;
	filter:alpha(opacity=70);
	background-color: #000;
	color: #fff;
	opacity: 0.7;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 300px;
	font-size: 2em;
}
 /* 
------- End Test section--------
 */
.h2-titles{
	/*background-color: #7e0e26;*/
	width: 800px;
	margin: auto;
	margin-bottom: -15px;
	color: #fff;
}
#registerButton{

	border: 0;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	background-color: rgba(205, 205, 205, 0.90);
	/*border: 0px solid #7e0e26;*/
	border-radius: 0px;
	font-size: 1.2em;
	font-weight: bold;
	width: 20%;
	margin-right: 30px;
	margin-top: 15px;
}

#registerButton:hover{
	/*background-color: #f0f0f0;*/
	color:#017391;
}

#registrationForm > h2 {
	margin-top: 0;
}

#test-form{
	width: 800px;
	margin: auto;
	text-align: left;
	/*background-color: #7e0e26;*/
	color: #fff;
	font-size: 17px;
	border: 2px solid #fff;
	padding-left: 20px;
	padding-top: 20px;
	margin-top: 20px;
}
#submit-test{
	background-color: #035151;
	border: 0;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	width: 150px;
	margin-left: 285px;
	margin-bottom: 20px;
}
#testName{
	margin: auto;
	width: 200px;
	text-decoration: underline;
}

#search_container input[type=search] {
	width: 242%;
	margin: 0;
	padding: 0;
	padding-left: 14px;
	font-size: 12px;
	height: 28px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: none;
	line-height: 14px;
	outline: 0;
}
.big-container {
	width: 89% !important;
}

.form-input-container {
	margin-top: 20px;
}

label.radio-label {
	margin-bottom: -20px;
	margin-left: 20px;
}

input.pull-left.inline-radio {
	margin-left: 20px;
}

.img_articles_in{
	display: inline-block;
	width: 300px;
	margin-right: 80px;
	margin-bottom: 20px;
}

a#login-trigger {
	margin-right: -15%;
}

nav#menu>ul>li>a:hover {
	text-decoration: none;
	/*background-color: #017391;*/
}

.no-left-margin{
	margin-left: 0px !important;
}

@media (min-width: 980px) and (max-width: 1200px) {
	.span4.pull-left.left-menu {
		margin-top: 80px;
	}

	#wrapper1 {
		max-width: 570px;
		margin-top: 80px;
	}
}

@media (min-width: 1200px){
	body {
		background-color: #fff;
		/*background-image:url("../images/background-fullhd.png");*/
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		width:100%;
		height:80%;
	}

	body.middle {
		/*margin-left: 5%;*/
		padding-left: 5%;
	}
}

h2.h2-contact {
	text-align: left;
	color: #017391 !important;
	font-size: 20px;
}

.phpc-bar{
	display: none;
}

table.phpc-main.phpc-calendar {
	color: #fff;
	background-color: rgba(126, 14, 38,0.9);
	margin-bottom: 20px;
}

caption {
	background-color: rgba(126, 14, 38,0.9);
	border-bottom: 2px solid #fff;
}

li > a {
	color: #fff !important;
}

th.ui-state-default {
	/* background: none; */
	color: #fff !important;
	background: rgba(126, 14, 38,0.9);
}

th.ui-state-default > a {

color: #fff !important;

}

table.phpc-main.phpc-calendar > tbody > tr > td, th {
border: 1px solid rgba(205, 205, 205, 0.90);;
}

.phpc-date.ui-state-default.ui-widget {
background-color: rgb(158, 41, 66) !important;
background: none;
}

.ui-widget > a {
	color: #fff !important;
}

a.ui-widget.ui-corner-all.ui-state-default {
	color: black !important;
}

.white_label{
	color:#fff !important;
}

table.phpc-main {
width: 100%;
color: #fff;
background-color: rgba(126, 14, 38,0.9);
}

td > input[type="submit"] {
	/*background-color: #BE4B64;*/
}

.phpc-main.phpc-event {
	padding: 15px;
	border: 0px solid black;
	margin: auto;
	background-color: rgba(126, 14, 38,0.9);
	min-height: 522px;
	margin-bottom: 20px;
	color: #fff;
}

.phpc-event-header {
	text-align: left;
}

input#submit_event {
	text-decoration: none;
	padding-right: 25px;
	background-color: #5A0013;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 23px;
	/*border: 0px solid #7e0e26;*/
	border-radius: 0px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	float: right;
}

select#time-type {
	float: left;
	margin-left: 8px;
}

select#repeats {
	float: left;
	margin-left: 8px;
}

form#addArticleForm {
	color: #fff;
	text-align: left;
}

form#addArticleForm > div > input[name="article_title"] {
	width: 100%;
	margin-bottom: 20px;
	color: black;
}

form#addArticleForm > div > textarea {
	width: 100%;
	min-height: 200px;
	margin-bottom: 20px;
	color:black;
}
input#addNewsButton {
	float: right;
	text-decoration: none;
	padding-right: 25px;
	background-color: #5A0013;
	padding-left: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border: 0px solid #7e0e26;*/
	border-radius: 0px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}

tr.form-part.form-question.form-atomic-question > th {
	border: 0;
}
tr.phpc-when > th {
	border: 0;
}

tr.form-part.form-question > th {
	border: 0 !important;
}

input#subject {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-textarea > textarea {
	width: 100% !important;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
}

a.phpc-add.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
	display: none;
}

.phpc-main > thead > tr > td, th {
  /* padding: 20px !important;*/
  text-align: left !important;
}

.edit-profile {
	margin-top: -25px;
	margin-left: 0px;
}

.articlesFull {
	width: 100% !important;
}

#changeProfile{
border: 0;
float: right;
margin-top: 65px;
color: #017391;
padding: 5px;
cursor: pointer;
background-color: rgba(205, 205, 205, 0.90);
border-radius: 0px;
/* font-weight: bold; */
width: 20%;
/* margin-right: 30px; */
text-decoration: none;
font-size: 17px;
}

span.is-teacher.pull-right {
	position: absolute;
	top: 210px;
	right: 122px;
}

.events_holder {
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: -20px;
}
a:hover {
background-color: #8a9aa1 !important;
color:white;
}

label.person_type_label {
display: inline-block;
max-width: 160px;
}

input.person_type {
display: inline-block;
width: 15px;
position: relative;
float: left;
margin-right: 7px !important;
}

.panel-body>ul>li>a {
	padding: 0;
	text-decoration: none;
	background-color: white !important;
}

.panel-body>ul>li {
	list-style-type: none;
	list-style: none;
}

.panel_css_fix{
	border: 0 !important;
}

a#nav_add_item {
	border-radius: 10px;
	padding: 15px;
	padding-bottom: 18px;
	padding-top: 15px;
}

#nav_add_item:hover {
    background-color: white !important;
}

#nav_add_item_li:hover>a {
    background-color: white !important;
}

#nav_add_item_li>a:hover {
    background-color: white !important;
}

.item_images {
	margin-left: 20px;
	width: 90px;
	margin-top: 20px;
	border-radius: 2px;
	border: 2px solid #8a9aa1;
}

.item_images:hover {
	position: absolute;
	width: 200px;
	border-radius: 0px;
	border: 2px solid #8a9aa1;
}

input[type="file"]{
	position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);

}
.input_file_holder{
	width: 150px;
    height: 22px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

#item_category {
	padding: 5px;
	border-radius: 5px;
	color: black;
	width: 184px;
}

span.delete_button {
  border: 2px solid red;
  border-radius: 100%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: red;
  cursor: pointer;
}

#save_category{
  border: 0;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(205, 205, 205, 0.90);
  border-radius: 0px;
  font-size: 1.2em;
  font-weight: bold;
  width: 20%;
  margin-right: 30px;
  margin-top: 15px;
}

#item_step_category {
  padding: 5px;
  border-radius: 5px;
  color: black;
  width: 184px;
}

.col-sm-3 .productinfo img {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.col-sm-3 .productinfo h2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
  position: absolute;
  top: 114px;
  right: 16px;
  background: white;
  padding: 4px;
  top: 117px;
}

.col-sm-3 .productinfo p {
  float: left;
  font-size: 15px;
  height: 33px;
  width: 100%;
}

.col-sm-3 .product-image-wrapper {
  margin-bottom: 10px;
  margin-top: 10px;
}

a.left.recommended-item-control {
  width: 30px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 55px;
  z-index: 10000;
}

a.right.recommended-item-control {
  width: 30px;
  position: absolute;
  right: 0;
  height: 30px;
  top: 55px;
  z-index: 10000;
}

i.glyphicon.glyphicon-backward {
  font-size: 28px;
  left: 12px;
}

i.glyphicon.glyphicon-forward {
	font-size: 28px;
}

.recommended-item-control:hover {
  background-color: transparent !important;
}

a .badge{
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 3px;
}

.item_img_holder {
  height: 135px;
  position: relative;
}